#Main_Menu {
    list-style: none;
    margin-top:-10px; 
    margin-left:0px; 
    padding-left:0px;
    position:absolute;	
    float: left;
}

#Main_Menu ul {
    list-style: none;
    padding:0px;
}

#Main_Menu li.topmenu {
    margin-right:1px;
    float:left;
}

.topmenu a {
    float:left;
    width:130px;
    text-align:center;
}


.topmenu a, .submenu a{
    padding:1px 5px;
    background-color:#ccc;
    margin:0px;	
}

.submenu a{
    width:130px;
    position:relative;
    clear:both; /* special IE6 */
}

#Main_Menu a:hover, .topmenu.on a {
    color:white;
    background-color: gray;
}

.topmenu ul{
    display:none;
}

.topmenu:hover ul {
    display:block;	
    z-index:500;
}